doctype html
html(lang='ru')
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
        meta(http-equiv='X-UA-Compatible' content='ie=edge')
        title Main
        if htmlWebpackPlugin.options.env === 'production'
            style !{htmlWebpackPlugin.options.getCriticalCSS(compilation)}
            script(async src='js/vendor.js')
            script(async src='js/critical.js')
            script(async src='js/mobile.js')
            script(async src='js/tablet.js')
            script(async src='js/desktop.js')
            script(async src='js/main.js')
    body
        #app.app
        if htmlWebpackPlugin.options.env === 'production'
            link(rel='preload' href='css/mobile.css' as='style')
            link(rel='stylesheet' href='css/mobile.css' media='print' onload="this.media='all'")
            link(rel='stylesheet' href='css/tablet.css' media=htmlWebpackPlugin.options.breakpoints.tablet.media)
            link(rel='stylesheet' href='css/desktop.css' media=htmlWebpackPlugin.options.breakpoints.desktop.media)
