.container {
  margin-top: 18px;
  margin-bottom: 18px;
  display: flex;
  width: 100%;
  position: relative;
}
.ava-left {
  width: 50px;
  height: 50px;
  margin-right: 13px;
}
.message-right {
  margin-right: 13px;
}
.ava-right {
  width: 50px;
  height: 50px;
  align-self: center;
}
.container-right {
  display: flex;
  width: 100%;
  position: relative;
  flex-direction: row-reverse;
}
@media (max-width: 425px) {
  .ava-left {
    display: none;
  }
  .ava-right {
    display: none;
  }
}
