.DateWidget {
  width: 100%;
  padding-left: 29px;
  padding-right: 36px;
  position: relative;
}
.DateWidget_title {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 35px;
  color: #ffffff;
  margin-bottom: 11px;
}
.DateWidget__date-picker {
  margin-bottom: 26px;
  height: 43px;
  width: 100%;
}
