.conteiner {
  width: 184px;
  height: 184px;
  box-shadow: 0 25px 35px rgba(226, 227, 243, 0.65);
  border-radius: 6px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.status {
  width: 120px;
  height: 5px;
  border-radius: 0px 0px 15px 15px;
  position: relative;
}

.status::before {
  content: "";
  width: 120px;
  height: 5px;
  opacity: 0.45;
  filter: blur(15px);
  border-radius: 0px 0px 15px 15px;
  display: block;
  position: absolute;
  top: 5px;
  background: inherit;
}


.weapon {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img {
}

.text {
  max-width: 92px;
  color: #000000;
  font-family: "TT Norms";
  font-size: 13px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  margin-bottom: 30px;
}

.red {
  background: linear-gradient(90deg, #f5c63b 0%, #ed502a 100%);
}

.green {
  background: linear-gradient(90deg, #8cd23c 0%, #417a00 100%);
}

.purple {
  background: linear-gradient(90deg, #a480df 0%, #7e47ef 100%);
}
