.main {
  background-color: #e5e5e5;
  padding-top: 100px;
}
.TrainSelect {
  .row {
    display: flex;
    justify-content: space-between;
  }
}
.TrainSelect__LastTicketWidget {
  margin-top: 90px;
}
.TrainSelect__Left {
  width: 30.2%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.TrainSelect__main {
  width: 69.8%;
  margin: 0 auto;
}
.TrainSelect-main {
  width: 959px;
}
.TrainSelect-main__top {
}
.TrainSelect-main__list {
  margin-top: 47px;
  margin-bottom: 142px;
}
.TrainSelect-main__Pagination {
  margin-bottom: 190px;
  display: flex;
  justify-content: flex-end;
}
