.container {
  padding: 20px 0;
}

.content {
  padding-top: 20px;
}

.body {
  padding: 45px 40px 44px 40px;
}

// .close-button {
//   width: 40px;
//   height: 40px;
//   right: 30px;
//   top: 20px;
// }

.header {
  &:after {
    margin: 10px 0 10px 0;
  }
}
