.container {
  text-align: left;
  width: 100%;
  max-width: 470px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 0 6px 0 0;
  box-sizing: border-box;
  gap: 20px;
}

:global .no-flex-gap :local .item {
  margin-bottom: 20px;
}

:global .no-flex-gap :local .item:last-child {
  margin-bottom: 0px;
}
