.container {
  width: 100%;
  box-shadow: 0 25px 35px rgba(226, 227, 243, 0.65);
  border-radius: 8px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}
.control {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 16px;
  margin-bottom: 25px;
}
.input {
  opacity: 0.85;
  color: #bac9e5;
  font-family: Acrom;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  margin-top: 24px;
  margin-left: 30px;
  border: none;
}

.item {
  /* Style for "Vector" */
  width: 23px;
  height: 18px;

  margin-right: 20px;
}
.control-camera {
}
.control-page {
}
.control-input {
}
