@import "./fonts";

html {
  min-height: 100%;
}

body {
  min-height: 100%;
}

:global {
  .app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .container {
    width: 100%;
    margin: 0 auto;
  }

  .no-scroll {
    overflow: hidden;
  }
}
