@font-face {
  font-family: 'Lazar1389';
  src: url('../../fonts/Lazar1389-Regular.eot');
  src: url('../../fonts/Lazar1389-Regular.eot?#iefix') format('embedded-opentype'),
       url('../../fonts/Lazar1389-Regular.svg#Lazar1389-Regular') format('svg'),
       url('../../fonts/Lazar1389-Regular.ttf') format('truetype'),
       url('../../fonts/Lazar1389-Regular.woff') format('woff'),
       url('../../fonts/Lazar1389-Regular.woff2') format('woff2');
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

