.footer {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.party {
  margin-top: 42px;
}

.ChatConteiner {
  display: flex;
  flex-direction: column;
}
.chat {
  margin-top: 40px;
}
.input {
  margin-top: 65px;
}
