$primary-background: linear-gradient(90deg, #8CD23C 0%, #417A00 100%);
$secondary-background: linear-gradient(36.87deg, #B139FE 18.57%, #1E61EB 80.26%);
$info-background: linear-gradient(36.87deg, #B139FE 18.57%, #1E61EB 80.26%);

$yellow-background: linear-gradient(43.39deg, #F9B544 26.46%, #FFD77F 80%);
$orange-background: linear-gradient(90deg, #F5C63B 0%, #ED502A 100%);
$red-background: linear-gradient(222.47deg, #FF8176 14%, #FF5343 80.18%);
$blue-background: linear-gradient(90deg, #647AE8 0%, #54A3F5 104.25%);
$disabled-background: #E1E1F1;

$mobile-scale: 0.75;
$desktop-scale: 1;
